
html{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
    background: #fff;
    margin:0;
    font-family: Microsoft yahei;
    &.lock{
        height: 100%;
        overflow: hidden;
    }
}
.clearfix{
    display: table;
    &:after{
        clear: both;
    }
}
.img-response{
    display: block !important;
    width: 100% !important;
    height: auto;
}
.header{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding:8px;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
    background: #fff;
}
.logo{
    display: block;
}
.main{
    padding-top: 50px;
}
.toolbar{
    position: fixed;
    z-index: 1200;
    top:0;
    right: 0;
    padding: 10px 13px;
    width:50px;
    height: 50px;
    background: #000;
    box-sizing: border-box;
    span{
        margin:6px 0;
        display: block;
        width: 24px;
        height: 1px;
        background-color:#fff;
        transition: all ease 350ms;
    }
    &.active{
        span{
            &:first-child{
                transform-origin: center center;
                transform: rotate(45deg) translate(4px,6px);
            }
            &:nth-child(2){
                opacity:0;
            }
            &:last-child{
                transform-origin: center center;
                transform: rotate(-45deg) translate(4px,-6px);
            }
        }
    }
}

.tooltip{
    position: fixed;
    z-index: 200;
    top:160px;
    right: 0;
    font-size: 16px;
    width: 18px;
    padding:13px 10px;
    color:#1b4c66;
    background: #dae3ec;
    opacity: 0.9;
    text-align: center;
}

.sidebar{
    position: fixed;
    z-index: 1100;
    top:0;
    right: 0;
    bottom:0;
    left:0;
    background: rgba(0, 0, 0, 0.35);
    opacity: 0;
    transition: all ease 350ms;
    .nav{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%;
        padding-top: 50px;
        background: #000;
        transition: all ease 350ms;
        ul{
            display: block;
            margin:0;
            padding:0 20px;
            list-style: none;
            li{
                margin:0;
                padding:0;
                height: 45px;
                border-bottom: 1px dotted #555;
                a{
                    display: block;
                    width: 100%;
                    font-size: 16px;
                    color:#fff;
                    line-height: 45px;
                    text-decoration: none;
                }
            }
        }
    }
    &.active{
        opacity: 1;
        .nav{
            left:120px;
        }
    }
}

.container{
    padding:0 25px;
}

.breadcrumb{
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    border-bottom: 1px solid #000;
    a,span{
        margin:0 3px;
        text-decoration: none;
        color:#000;
    }
}

.banner{
    img{
        display: block;
        width:100%;
        height: auto;
    };
}

.footer{
    background: #000;
    padding:10px 0;
    p{
        font-size: 12px;
        color:#fff;
        margin: 5px 0;
        opacity: 0.8;
        a{
            text-decoration: none;
            color:#fff;
        }
    }
}
.btn-wrap{
    text-align: center;
    height: 40px;
    padding:10px 0;
}
.btn-group{
    display: inline-block;
    text-decoration: none;
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color:#fff;
    margin:0 5px;
    &.black{
        background: #000;
    }
    &.red{
        background: #ed008c;
    }
}
